@import "../../colors";

.ek-header {
    display: flex;
    height: 60px;
    background-color: @indigo500;

    &__sections {
        &__section {
            border-radius: initial;
            color: @white;
            padding: 23px 0;
            margin-right: 34px;
            text-transform: capitalize;
            font-weight: 500;
            line-height: 14px;
            cursor: pointer;

            &--selected {
                border-bottom: 4px solid @cyan400;
                padding-bottom: 18px;
                color: @cyan400;
            }
        }
    }

    &__location {
        padding: 0 20px;

        .md-button.md-icon-button {
            margin: 0;
        }

        &__help,
        &__more {
            color: @white;

            &__icon {
                color: @white;
            }
        }

        &__help {
            margin: 0;
            &__icon {
                width: 20px;
                height: 20px;
            }
        }

        &__avatar {
            margin-left: 10px;
            height: 32px;
            width: 32px;
        }
    }
}
