<div class="ek-header__logo" layout="row" layout-align="start center">
    <img ng-src="{{:: images.KUBERNETES_LOGO }}">
</div>

<div ng-if="ctrl.isLoggedIn()"
     layout="row" layout-align="space-between" flex>
    <div class="ek-header__sections"
         layout="row" layout-align="start">
        <a ng-repeat="section in ctrl.sections track by section.name"
           ng-click="ctrl.goToSection(section)"
           ng-class="{ 'ek-header__sections__section--selected': ctrl.selectedState === section }"
           class="ek-header__sections__section">{{:: section.data.header.name }}
        </a>
    </div>

    <div class="ek-header__location" layout="row" layout-align="end center">
        <ek-namespace-selector></ek-namespace-selector>

        <md-button class="ek-header__location__help md-icon-button" aria-label="Help">
            <md-icon class="ek-header__location__help__icon" md-svg-src="{{:: icons.IC_HELP_48PX }}"></md-icon>
        </md-button>

        <md-button class="ek-header__location__more md-icon-button" aria-label="More">
            <md-icon class="ek-header__location__more__icon" md-svg-src="{{:: icons.IC_MORE_VERT_48PX }}"></md-icon>
        </md-button>

        <ek-avatar class="ek-header__location__avatar"
                   ng-click="ctrl.logout()"
                   workspace="ctrl.workspace"></ek-avatar>
    </div>
</div>
