<div class="checklist-item layout-row">
    <div>
        {% if state['status'] is True %}
            <i class="material-icons check status">check</i>
        {% elif state['status'] is None %}
            <i class="material-icons warning status">warning</i>
        {% else %}
            <i class="material-icons close status">close</i>
        {% end %}
    </div>
    <div class="checklist-messages layout-column">
        <div>
            {{ title }}
        </div>
    {% if not state['status'] %}
        <div class="checklist-message">
            {{ state['reason'] }}.
            {% if state['status'] is False %}
                <a class="report-link" href="https://github.com/ElasticBox/elastickube/issues/new">Report this</a>
            {% end %}
        </div>
    {% end %}
    </div>
</div>
