<h2 class="ek-change-password__title">Change Password</h2>
<form ng-submit="ctrl.submit()" class="ek-change-password__form" name="changePasswordForm">
    <div layout="row">
        <md-input-container class="ek-change-password__form__password md-block animate">
            <label>New Password</label>
            <input type="password" name="password" required
                   ng-model="ctrl.password"
                   ng-pattern="ctrl.PASSWORD_REGEX">
            <div ng-messages="changePasswordForm.password.$error">
                <div ng-message="required">Your password is required.</div>
                <div ng-message="pattern">Your password does not match the specified format.</div>
            </div>
        </md-input-container>
    </div>

    <div layout="row">
        <md-input-container class="ek-change-password__form__password-confirm md-block animate">
            <label>Confirm Password</label>
            <input type="password" name="confirm" required
                   ng-model="ctrl.confirm"
                   match-password="password">
            <div ng-messages="changePasswordForm.confirm.$error">
                <div ng-message="required">Password confirmation is required.</div>
                <div ng-message="passwordMatch">Password and password confirmation do not match.</div>
            </div>
        </md-input-container>
    </div>
    <div layout="row" layout-align="center">
        <md-button type="submit" class="ek-change-password__form__submit-btn md-raised md-primary"
                   ng-disabled="changePasswordForm.$invalid">Change Password
        </md-button>
    </div>
</form>
