<div layout="column" layout-align="center center">
    <h2 class="ek-login__title">Login</h2>

    <form name="loginForm">
        <div layout="row">
            <md-input-container class="ek-login__email md-block animate">
                <label>Email</label>
                <input required="required" ng-model="user.email" name="email" type="email">
                <div ng-messages="loginForm.email.$error">
                    <div ng-message="required">Email is required.</div>
                    <div ng-message="email">Email is invalid.</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container class="ek-login__password md-block animate">
                <label>Password</label>
                <input required ng-model="user.password" name="password" type="password">
                <div ng-messages="loginForm.password.$error">
                    <div ng-message="required">Password is required.</div>
                </div>
            </md-input-container>
        </div>

        <div layout="row" layout-align="center">
            <md-button class="ek-login__submit-btn md-raised md-primary"
                       ng-disabled="loginForm.$invalid">login</md-button>
        </div>
    </form>

    <div layout="row" layout-align="center center">
        Don't have an account?
        <md-button ui-sref="anonymous.signup" md-no-ink
                   class="md-primary">Sign up
        </md-button>
    </div>

    <p>Login using <a href="/api/v1/auth/google" target="_self">Google</a></p>
</div>