<div layout="column" layout-align="center center">
    <h2 class="ek-login__title">Login</h2>

    <form ng-submit="ctrl.submit()" name="loginForm" ng-if="ctrl.authProviders.password">
        <div layout="row">
            <md-input-container class="ek-login__email md-block animate">
                <label>Username</label>
                <input required="required" ng-model="ctrl.user.username" name="username" type="email">
                <div ng-messages="loginForm.username.$error">
                    <div ng-message="required">Username is required.</div>
                    <div ng-message="email">Username is invalid.</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container class="ek-login__password md-block animate">
                <label>Password</label>
                <input ng-model="ctrl.user.password"
                       ng-pattern="ctrl.authProviders.password.regex"
                       name="password" type="password" required>
                <div ng-messages="loginForm.password.$error">
                    <div ng-message="required">Password is required.</div>
                    <div ng-message="pattern">Password not match the specified format.</div>
                </div>
            </md-input-container>
        </div>

        <div layout="row" layout-align="center">
            <md-button type="submit" class="ek-login__submit-btn md-raised md-primary md-ink-ripple"
                       ng-disabled="loginForm.$invalid">login</md-button>
        </div>
    </form>

    <div layout="row" layout-align="center" ng-if="ctrl.authProviders.password && ctrl.authProviders.google">
        <div class="divider"><span>OR</span></div>
    </div>

    <div layout="row" layout-align="center" ng-if="ctrl.authProviders.google">
        <md-button href="/api/v1/auth/google" target="_self"
                   class="ek-login__google-btn md-raised md-ink-ripple"><img ng-src="{{:: images.GOOGLE_G_LOGO }}">Login with Google</md-button>
    </div>
</div>
