@black: #222222;
@white: #ffffff;

@red50:  #ffebee;
@red100: #ffcdd2;
@red500: #f44336;

@indigo500: #3F51B5;

@blue50: #f2f6fd;
@blue100: #d3e0f6;

@cyan400: #26C6DA;
@cyan500: #00B8D4;

@purple: #ba68c8;

@grey50: #fafafa;
@grey100: #f8f8f8;
@grey150: #f1f1f1;
@grey200: #eeeeee;
@grey300: #e5e5e5;
@grey350: #e2e2e2;
@grey400: #d9d9d9;
@grey450: #bdbdbd;
@grey500: #9e9e9e;
@grey600: #757575;
