<div layout="column">
    <div class="ek-customize-deployment__form" layout="row">
        <div class="ek-customize-deployment__toolbar__step" flex="5">
            <h2>2</h2>
        </div>
        <div class="ek-customize-deployment__toolbar__content" layout="column" flex="85" ng-form="ctrl.form">
            <h2>Customize deployment</h2>
            <div ng-if="ctrl.step === 2" class="ek-customize-deployment__form__fieldset" layout="column" layout-align="start start">
                <div>
                    <div class="ek-customize-deployment__title ek-customize-deployment__name--required">Name</div>
                    <input type="text" class="ek-customize-deployment__input ek-customize-deployment__input--long"
                           ng-model="ctrl.deploymentInfo.name" required>

                    <div class="ek-customize-deployment__title">Labels</div>
                    <ek-insert-labels class="ek-customize-deployment__labels ek-customize-deployment__input--long" labels="ctrl.deploymentInfo.labels"
                                      flex></ek-insert-labels>
                </div>
            </div>
        </div>
    </div>

</div>
