@import "../../colors";

.ek-choose-chart {
    & {
        background-color: @white;
        border: 1px solid @grey300;
        border-radius: 2px;        
        width: 805px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.06);
    }

    &--active {
        .ek-choose-chart__toolbar {
            padding-bottom: 30px;
            border-bottom: 1px solid @grey350;
            &__step {
                &__number {
                    color: @cyan500;
                }
            }
            &__content {
                &__title {
                    color: @cyan500;
                }
            }
        }
    }

    &__toolbar {
        font-weight: bold;
        padding-bottom: 0;

        &__step {
            margin-left: 20px;

            &__number {
                font-size: 16px;
                font-weight: 500;
                margin: 30px 0 25px 10px;
            }
        }

        &__content {
            margin-left: 5px;

            &__title {
                font-size: 16px;
                font-weight: 500;
                margin: 30px 30px 25px 0;
            }

            &__charticon {
                height: 30px;
                width: 30px;
            }

            &__chartname {
                margin-left: 10px;
                font-size: 14px;
                font-weight: normal;
            }

            &__edit {
                color: @grey450;
                margin-right: 20px;
                cursor: pointer;
            }
            input {
                font-weight: normal;
            }
        }
    }

    &__footer {
        border-top: 1px solid @grey300;
        height: 70px;

        .md-button {
            height: 30px;
            min-height: 0;
            margin: 20px 20px 0 0;
            line-height: 29px;
        }
    }
}
