<ek-header-layout>
    <div transclude-to="header" layout="row" layout-align="start center">
        <h3 class="ek-charts__title ek-title"><span>charts</span></h3>

        <ek-search-filter class="ek-charts__search"
                          search-field="name"
                          collection-to-be-filtered="ctrl.charts"
                          filtered-collection="ctrl.chartsFilteredBySearch"></ek-search-filter>

        <div layout="row" layout-align="end center" flex>
            <ek-chart-sorter ng-show="ctrl.selectedView === 'grid'"
                             collection-to-sort="ctrl.chartsFilteredBySearch"
                             sorted-collection="ctrl.chartsSortedByType"></ek-chart-sorter>

            <ek-button-group>
                <button ng-class="{'ek-button-group--selected' : ctrl.selectedView === 'list'}"
                        ng-click="ctrl.selectView('list')"
                        aria-label="view list">
                    <md-icon md-svg-src="{{:: icons.IC_VIEW_LIST_48PX }}"></md-icon>
                </button>
                <button ng-class="{'ek-button-group--selected' : ctrl.selectedView === 'grid'}"
                        ng-click="ctrl.selectView('grid')"
                        aria-label="view grid">
                    <md-icon md-svg-src="{{:: icons.IC_VIEW_MODULE_48PX }}"></md-icon>
                </button>
            </ek-button-group>
        </div>
    </div>

    <div transclude-to="body" layout="column">
        <div class="ek-charts__body" transclude-to="body">
            <div class="ek-charts__body__not-found-message"
                 layout="column" layout-align="center center"
                 ng-if="ctrl.showEmpty">No charts found
            </div>

            <div ng-if="!ctrl.showEmpty" ng-switch="ctrl.selectedView">
                <ek-chart-grid ng-switch-when="grid"
                               charts="ctrl.chartsSortedByType"></ek-chart-grid>
                <ek-chart-list ng-switch-default
                               charts="ctrl.chartsFilteredBySearch"></ek-chart-list>
            </div>
        </div>
    </div>
</ek-header-layout>
