<div layout="column" layout-align="center center">
    <h2 class="ek-signup__title">Create an admin account</h2>

    <form ng-submit="ctrl.submit()" name="signupForm">

        <div layout="row">
            <md-input-container class="ek-signup__name md-block animate">
                <label>Your Name</label>
                <input type="text" name="firstname" required
                       ng-model="user.firstname"
                       ng-maxlength="128" maxlength="128">
                <div ng-messages="signupForm.firstname.$error">
                    <div ng-message="required">Your firstname is required.</div>
                    <div ng-message="maxlength">Your firstname is too long.</div>
                </div>
            </md-input-container>
        </div>

        <div layout="row">
            <md-input-container class="ek-signup__name md-block animate">
                <label>Your Lastname</label>
                <input type="text" name="lastname" required
                       ng-model="user.lastname"
                       ng-maxlength="128" maxlength="128">
                <div ng-messages="signupForm.lastname.$error">
                    <div ng-message="required">Your lastname is required.</div>
                    <div ng-message="maxlength">Your lastname is too long.</div>
                </div>
            </md-input-container>
        </div>

        <div layout="row">
            <md-input-container class="ek-signup__email md-block animate">
                <label>Your Email</label>
                <input type="email" name="email" required
                       ng-model="user.email"
                       ng-maxlength="254" maxlength="254">
                <div ng-messages="signupForm.email.$error">
                    <div ng-message="required">Your email is required.</div>
                    <div ng-message="email">Your email is invalid.</div>
                    <div ng-message="maxlength">Your email is too long.</div>
                </div>
            </md-input-container>
        </div>

        <div layout="row">
            <md-input-container class="ek-signup__password md-block animate">
                <label>Create Password</label>
                <input type="password" name="password" required
                       ng-model="user.password"
                       ng-pattern="ctrl.PASSWORD_REGEX">
                <div ng-messages="signupForm.password.$error">
                    <div ng-message="required">Your password is required.</div>
                    <div ng-message="pattern">Your password not match the specified format.</div>
                </div>
            </md-input-container>
        </div>

        <div layout="row">
            <md-input-container class="ek-signup__password-confirm md-block animate">
                <label>Confirm Password</label>
                <input type="password" name="confirm" required
                       ng-model="user.confirm"
                       match-password="password">
                <div ng-messages="signupForm.confirm.$error">
                    <div ng-message="required">Password confirmation is required.</div>
                    <div ng-message="passwordMatch">Password and password confirmation does not match.</div>
                </div>
            </md-input-container>
        </div>

        <div layout="row" layout-align="center">
            <md-button type="submit" class="ek-signup__submit-btn md-raised md-primary"
                       ng-disabled="signupForm.$invalid">sign up
            </md-button>
        </div>
    </form>
</div>
