<div class="ek-notification animate"
     layout="row" layout-align="start center"
     ng-repeat="message in ctrl.messages track by message.id"
     ng-class="{
        'ek-notification--info': message.type === 'INFO',
        'ek-notification--warn': message.type === 'WARN',
        'ek-notification--error': message.type === 'ERROR',
     }">
    <span>{{:: message.text }}</span>

    <span class="ek-notification__dismiss"
          ng-if="message.type === 'ERROR'"
          ng-click="ctrl.removeMessage(message)">dismiss</span>
</div>