<ek-header-layout>
    <div transclude-to="header" layout="row" layout-align="start center">
        <h3 class="ek-instances__title ek-title"><span>instances</span></h3>

        <ek-search-filter class="ek-instances__search"
                          search-field="metadata.name"
                          collection-to-be-filtered="ctrl.instancesFilteredByOwnerAndStatus"
                          filtered-collection="ctrl.instancesFilteredBySearch"></ek-search-filter>
    </div>

    <div transclude-to="body">
        <ek-sidenav-layout>
            <div transclude-to="sidenav">
                <md-button class="ek-instances__new md-raised md-primary ek-button" ng-click="ctrl.newInstance()">New</md-button>
                <ek-instance-filters instances-to-filter="ctrl.instances"
                                     filtered-instances="ctrl.instancesFilteredByOwnerAndStatus"></ek-instance-filters>
            </div>

            <div class="ek-instances__body" transclude-to="body">
                <div class="ek-instances__body__not-found-message"
                     layout="column" layout-align="center center"
                     ng-if="ctrl.showEmpty">No instance found
                </div>

                <div ng-if="!ctrl.showEmpty" ng-switch="ctrl.selectedView">
                    <ek-instance-list instances="ctrl.instancesFilteredBySearch"></ek-instance-list>
                </div>
            </div>
        </ek-sidenav-layout>
    </div>
</ek-header-layout>
