@import "../../colors";

.ek-instances {
    position: absolute;
    height: 100%;
    width: 100%;

    &__search {
        width: 360px;
    }

    &__title {
        width: 190px;
    }

    &__new {
        width: 114px;
        height: 30px;
        min-height: 30px;
        line-height: 30px;
        background-color: @cyan400;
        color: @white;
        border-radius: 2px;
        font-size: 12px;
        font-weight: bold;
        border-width: 0;
        text-transform: uppercase;
        margin: 20px 0 16px 20px;
    }

    &__body {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;

        &__not-found-message {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: @grey100;
            color: @grey600;
        }

        md-content {
            height: 100%;
        }
    }
}