<div layout="column">
    <div class="ek-admin-instances__header" layout="row" layout-align="space-between center">
        <div layout="row" layout-align="start center">
            <ek-instance-bulk-actions ng-if="ctrl.selectedInstances.length > 0"
                                      instances="ctrl.selectedInstances"></ek-instance-bulk-actions>

            <div class="separator" ng-if="ctrl.selectedInstances.length > 0"></div>

            <ek-search-filter class="ek-admin-instances__search"
                              collection-to-be-filtered="ctrl.instances"
                              filtered-collection="ctrl.filteredInstances"
                              search-field="metadata.name">
            </ek-search-filter>
        </div>
        <md-button class="md-raised md-primary ek-button"
                   ng-click="ctrl.newInstance()">new
        </md-button>
    </div>

    <div class="ek-admin-instances__body" flex>
        <div class="ek-admin-instances__table ek-table" ui-grid-selection ui-grid-tree-view
             ng-if="ctrl.containsGroups"
             ui-grid="ctrl.gridOptions"></div>

        <div class="ek-admin-instances__table ek-table" ui-grid-selection
             ng-if="!ctrl.containsGroups"
             ui-grid="ctrl.gridOptions"></div>
    </div>
</div>

