<div class="ek-template-card__info" layout="column">
    <div class="ek-template-card__info__icon" layout="row" layout-align="center">
        <img ng-src="{{ ctrl.template.icon }}">
    </div>
    <span class="ek-template-card__info__name">{{ ctrl.template.name }}</span>
    <span class="ek-template-card__info__description">{{ ctrl.template.description }}</span>
</div>

<div class="ek-template-card__owner" layout="row" layout-align="start center">
    <ek-owner-info shareable="ctrl.template"></ek-owner-info>
</div>