<div layout="column">
    <div layout="row" layout-alignment="center center" class="ek-label-editor__label" ng-repeat="(key, value) in ctrl.labels">
        <input class="ek-label-editor__label__input" type="text" value="{{ key }}" disabled>
        <input class="ek-label-editor__label__input" type="text" value="{{ value }}" disabled>
        <md-icon class="ek-label-editor__label__remove" ng-click="ctrl.removeLabel(key)"
                 md-svg-src="{{:: icons.IC_REMOVE_CIRCLE_OUTLINE_48PX }}"></md-icon>
    </div>
    <div layout="row" layout-alignment="center center" ng-form="ctrl.form">
        <input type="text" placeholder="Key" class="ek-label-editor__input ek-label-editor_key--long ek-input"
               ng-model="ctrl.label.key" required>
        <input type="text" placeholder="Value" class="ek-label-editor__input ek-label-editor_value--long ek-input"
               ng-model="ctrl.label.value" required>
        <md-icon class="ek-label-editor__add"
                 ng-class="ctrl.form.$valid && !ctrl.labels[ctrl.label.key]? 'ek-label-editor__add--enabled' : 'ek-label-editor__add--disabled'"
                 ng-click="ctrl.addLabel()" md-svg-src="{{:: icons.IC_ADD_CIRCLE_OUTLINE_48PX }}"></md-icon>
    </div>
</div>
