<ek-header-layout title="templates">
    <div transclude-to="header" layout="row" layout-align="start center">
        <ek-search-filter collection-to-be-filtered="ctrl.templatesFilteredByOwnerAndType"
                          filtered-collection="ctrl.templatesFilteredBySearch"></ek-search-filter>

        <div layout="row" layout-align="end center" flex>
            <ek-templates-sorter ng-show="ctrl.selectedView === 'grid'"
                                 collection-to-sort="ctrl.templatesFilteredBySearch"
                                 sorted-collection="ctrl.templatesSortedByType"></ek-templates-sorter>

            <ek-button-group>
                <button ng-class="{'ek-button-group--selected' : ctrl.selectedView === 'list'}"
                        ng-click="ctrl.selectView('list')"
                        aria-label="view list">
                    <md-icon md-svg-src="{{:: icons.IC_VIEW_LIST_48PX }}"></md-icon>
                </button>
                <button ng-class="{'ek-button-group--selected' : ctrl.selectedView === 'grid'}"
                        ng-click="ctrl.selectView('grid')"
                        aria-label="view grid">
                    <md-icon md-svg-src="{{:: icons.IC_VIEW_MODULE_48PX }}"></md-icon>
                </button>
            </ek-button-group>
        </div>
    </div>

    <div transclude-to="body" layout="column">
        <ek-sidenav-layout>
            <div transclude-to="sidenav">
                <button class="ek-templates__new">New</button>
                <ek-template-filters templates-to-filter="ctrl.templates"
                                     filtered-templates="ctrl.templatesFilteredByOwnerAndType"></ek-template-filters>
            </div>

            <div class="ek-templates__body" transclude-to="body">
                <div class="ek-templates__body__not-found-message"
                     layout="column" layout-align="center center"
                     ng-if="ctrl.showEmpty">No template found
                </div>

                <div ng-if="!ctrl.showEmpty" ng-switch="ctrl.selectedView">
                    <ek-template-grid ng-switch-when="grid"
                                      templates="ctrl.templatesSortedByType"></ek-template-grid>
                    <ek-template-list ng-switch-default
                                      templates="ctrl.templatesFilteredBySearch"></ek-template-list>
                </div>
            </div>
        </ek-sidenav-layout>
    </div>
</ek-header-layout>
