<div layout="column">
    <div class="ek-admin-charts__header" layout="row" layout-align="space-between center">
        <div layout="row" layout-align="start center">
            <md-select class="ek-select-button"
                       ng-model="ctrl.bulkActions"
                       ng-if="ctrl.hasRowsSelected"
                       aria-label="bulk actions">
                <md-option>Bulk Actions</md-option>
            </md-select>

            <div class="separator" ng-if="ctrl.hasRowsSelected"></div>

            <ek-search-filter class="ek-admin-charts__search"
                              collection-to-be-filtered="ctrl.charts"
                              filtered-collection="ctrl.filteredCharts"
                              search-field="name">
            </ek-search-filter>
        </div>
    </div>

    <div class="ek-admin-charts__body" layout="column" flex>
        <ek-table options="ctrl.tableOptions"
                  status="ctrl.chartsStatus" flex></ek-table>
    </div>
</div>
