@import '../../colors';

.ek-choose-chart-card {
    width: 155px;
    height: 160px;
    margin: 10px;
    background-color: @white;
    border: 1px solid @grey350;
    box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    border-radius: 2px;
    cursor: pointer;
    transition: background-color .1s ease-in-out;

    &--selected {
        border: 3px solid @cyan500;
        cursor: default;
        background: @blue50;
        .ek-choose-chart-card__info__icon {
            margin-top: 23px;
        }
    }

    &__info {
        padding: 0 15px;

        &__icon {
            margin-top: 25px;

            svg {
                width: 76px;
                height: 76px;
            }
        }

        &__name {
            text-align: center;
            margin-top: 15px;
            font-weight: 500;
        }

        &__description {
            margin-top: 5px;
            color: @grey600;
            font-size: 11px;
        }
    }
}
