<div class="ek-table__header" layout="row" layout-align="start center">

    <div class="ek-table__header__column__group ek-table__grouping" layout="row" layout-align="center center"
         ng-class="{'ek-table__header__column__group--nogroups ek-table__grouping--nogroups': !ctrl.existsGroups}">
    <div ng-if="ctrl.existsGroups"
         ng-click="ctrl.toggleGroupAll()"
         ng-class="{'ek-table__grouping--collapsed': ctrl.isAllCollapsed(),
                    'ek-table__grouping--expanded': !ctrl.isAllCollapsed() }"></div>
    </div>

    <div class="ek-table__header__column"
         layout="row" layout-align="start center"
         ng-if="ctrl.options.enableSelection">
        <div class="ek-table__selection"
             ng-click="ctrl.toggleSelectAll()"
             ng-class="{'ek-table__selection--selected': ctrl.isAllSelected()}"></div>
    </div>

    <div class="ek-table__header__column" layout="row" layout-align="start center"
         ng-repeat="columnDef in ctrl.options.columnDefs track by $index"
         ng-style="ctrl.getColumnStyle(columnDef)"
         ng-class="{'ek-table__header__column--sortable': columnDef.enableSorting,
                    'ek-table__header__column--sortable--asc': columnDef.enableSorting && columnDef.sortOrder === 'asc',
                    'ek-table__header__column--sortable--desc': columnDef.enableSorting && columnDef.sortOrder === 'desc'}"
         ng-click="ctrl.sortByColumn(columnDef)">
        <span>{{:: columnDef.name }}</span>
    </div>
</div>

<div class="ek-table__body" vs-repeat vs-autoresize flex>
    <div class="ek-table__body__row" layout="row" layout-align="start center"
         ng-repeat="item in ctrl.items track by ctrl.options.getIdentity(item)"
         ng-class="{'ek-table__body__row--selected': ctrl.isSelected(item)}">

        <div class="ek-table__body__row__column__group ek-table__grouping" layout="row" layout-align="center center"
             ng-class="{'ek-table__grouping--nogroups': !ctrl.existsGroups}">
        <div ng-if="ctrl.existsGroups"
             ng-click="ctrl.toggleGroup(item)"
             ng-class="{ 'ek-table__grouping': item._groupParent,
                         'ek-table__grouping--collapsed': ctrl.isCollapsed(item),
                         'ek-table__grouping--expanded': ctrl.isExpanded(item)}"></div>
        </div>

        <div class="ek-table__body__row__column"
             layout="row" layout-align="center center"
             ng-if="ctrl.options.enableSelection">
            <div class="ek-table__selection"
                 ng-click="ctrl.toggleSelected(item)"
                 ng-class="{'ek-table__selection--selected': ctrl.isSelected(item)}"></div>
        </div>

        <ek-table-cell class="ek-table__body__row__column" layout="row" layout-align="start center"
                       ng-repeat="columnDef in ctrl.options.columnDefs track by $index"
                       ng-style="ctrl.getColumnStyle(columnDef)"
                       column="columnDef"
                       item="item"></ek-table-cell>
    </div>
</div>
