<div class="ek-table__header">
    <div class="ek-table__header__row">
        <div class="ek-table__header__row__cell" ng-repeat="header in ctrl.headers track by $index"
             ng-click="ctrl.clickHeader(header)">
            {{ header.title }}
            <md-icon ng-if="header === ctrl.currentSelection"
                     class="ek-table__header__row__cell__icon ek-table__header__row__cell__icon--sorted-{{ ctrl.sortOrder }} ml3"
                     md-svg-src="{{:: icons.IC_ARROW_UPWARD_48PX }}"></md-icon>
        </div>
    </div>
</div>
<div class="ek-table__body" ng-transclude></div>
