@import "../../colors";

.ek-table {
    width: 100%;
    display: table;
    border-collapse: collapse;

    &__header {
        background-color: @grey100;
        color: @grey600;
        display: table-header-group;
        font-size: 13px;
        font-weight: 500;

        &__row {
            border-bottom: 1px solid @grey300;
            display: table-row;
            white-space: nowrap;

            &__cell {
                display: table-cell;
                line-height: 16px;
                padding: 8px 20px 6px;
                text-transform: capitalize;
                vertical-align: middle;

                &:hover {
                    background-color: @grey150;
                    cursor: pointer;
                }

                &__icon {
                    color: @grey600;
                    height: 17px;
                    width: 17px;

                    transform: translate3d(0,-1px,0) rotate(-360deg);
                    transition: transform .3s ease;

                    &--sorted-desc {
                        transform: translate3d(0,-1px,0) rotate(-180deg);
                    }
                }
            }
        }
        
    }

    &__body {
        display: table-row-group;

        &__row {
            border-bottom: 1px solid @grey200;
            display: table-row;
            height: 51px;
            position: relative;

            &:hover {
                background-color: @grey50;
            }

            &__cell {
                display: table-cell;
                padding-left: 20px;
                padding-right: 20px;
                vertical-align: middle;
            }
        }
    }
}
