<div class="ek-admin-edit-namespace__content" ng-form="ctrl.form">
    <h2 class="ek-admin-edit-namespace__content__title">{{!!ctrl.namespace ? 'Edit Namespace' : 'Create Namespace' }}</h2>

    <div class="ek-admin-edit-namespace__content__body" layout="column" layout-align="center start">
        <div class="ek-admin-edit-namespace__content__body__section">
            <h3>Name</h3>
            <input type="text" class="ek-admin-edit-namespace__content__body__section__input ek-input"
                   ng-class="{'ek-input--disabled': ctrl.namespace}"
                   ng-disabled="ctrl.namespace"
                   placeholder="Enter name" ng-model="ctrl.namespaceName" required>
        </div>
        <div ng-if="!ctrl.namespace || ctrl.namespace && ctrl.countLabels() > 0" class="ek-admin-edit-namespace__content__body__section">
            <h3>Labels</h3>
            <ek-label-editor editable="!ctrl.namespace" labels="ctrl.labels" set-labels-callback="ctrl.setLabels()"></ek-label-editor>
        </div>

        <div class="ek-admin-edit-namespace__content__body__section">
            <h3>People</h3>
            <ek-select-users placeholder="Add users to namespace..." selected-users="ctrl.users"></ek-select-users>
            <div class="ek-admin-edit-namespace__content__body__section__users" layout="column"
                 ng-if="ctrl.users.length > 0">
                <div class="ek-admin-edit-namespace__content__body__section__users__user"
                     layout="row" layout-align="space-between center"
                     ng-repeat="user in ctrl.users track by user.username">
                    <ek-user-info username="user.username"
                                  show-username="true"></ek-user-info>
                    <md-icon class="ek-admin-edit-namespace__content__body__section__users__user__clear"
                             ng-click="ctrl.removeUser(user)"
                             md-svg-src="{{:: icons.IC_CLEAR_48PX }}"></md-icon>
                </div>
            </div>
        </div>
    </div>
</div>
