<div layout="column" layout-fill>
    <div class="ek-application-layout__header" flex="none"
         layout="row" layout-align="start center">
        <img class="ek-application-layout__header__logo"
             ng-class="{'ek-application-layout__header__logo--clickable': ctrl.isLoggedIn()}"
             ng-click="ctrl.goToInstances()"
             ng-src="{{:: images.KUBERNETES_LOGO }}">
        <div transclude-id="header" flex="grow"></div>
    </div>

    <md-content transclude-id="body"></md-content>
</div>