<div ek-ink-ripple="dark"
     class="ek-notifications-namespace-selector__namespace"
     ng-repeat="namespace in ctrl.namespaces track by $index"
     ng-class="{'ek-notifications-namespace-selector__namespace--selected': ctrl.selectedNamespace === namespace }"
     ng-click="ctrl.selectNamespace(namespace)"
     layout="row" layout-align="space-between center">
    <span class="ek-notifications-namespace-selector__namespace__name">{{ namespace }}</span>
    <span class="ek-notifications-namespace-selector__namespace__counter">{{ namespace === 'All' ? ctrl.notifications.length : ctrl.namespaceValues[namespace] || 0 }}</span>
</div>
